
		body{
			margin: 0;
			padding: 0;
			font-family: montserrat;
			background-image: url(../images/f8ab2413a9892ad17a969af25d1c9963.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
		}
		.container {
			position: absolute;
			top:5ch;
			left: 50%;
			transform: translate(-50% , 50%);
			width: 130ch;
			background-color: rgba(230, 251, 252, 0.842);
        
			border-radius:20px ;
            padding: 20px;
            margin-right: 20px;
			margin-top: 40ch;

		}
	
       .container #left{
            float: left;
            top: 50%;
        }
        .container #right{
           float: right;
        }
        
          
        #facebook {
            background: #3B5998;
            color: white;
          }
          #google {
            background: #dd4b39;
            color: white;
          }
          #twitter{
            background: #4f9fdd;
            color: white;
          }
        
		.sign label{
			box-sizing: border-box;
			font-family: cursive;
         
		}
		
		
		.container h1,h3 {
			text-align: center;
			font-family: cursive;

		}
		form {
			box-sizing: border-box;
			padding: 0 40px;
		}
		 input {
           padding: 10px;
			display: block;
			outline: none;
			border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 20px;
            
            
            margin: 10px;


		}
		label {
			font-family: cursive;
			font-size: larger;
            margin: 2px;
		}
		button {
			width: 100%;
			height: 50px;
			border: 1px seagreen;
			border-radius: 50px;
			font-size: medium;	
			opacity: 80%;
			cursor: pointer;
			background-color:rgb(117, 140, 91);
           padding: 50 50 50 50;
           margin-bottom: 20px;
           margin-top:  20px; ;
		}
		
	